<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8 />
		<title>A simple map</title>
		  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		  <meta name="viewport" content="width=device-width, initial-scale=1" />
		  <!-- jQuery -->
		  <script src="/vendor/jquery/dist/jquery.min.js"></script>
		  <!-- Underscore -->
		  <script src="/vendor/underscore/underscore-min.js"></script>
		  <!-- Bootstrap JS -->
		  <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
		  <!-- Bootstrap CSS -->
		  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
		  <!-- ToEat.ly -->
		  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
		  <script src="/static/js/app.js"></script>
		  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		  <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
		  <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
		  <style>
    		  body { margin:0; padding:0; }
    		  #map { position:absolute; bottom:0; right:0px; width:100%; height: 80%; }
      </style>
	 </head>
   <body>
	    <div class="container">
			   <div id='map'></div>
		  </div>
		  <script>
      		L.mapbox.accessToken = 'pk.eyJ1IjoibWFyY2VsZGVnYXMiLCJhIjoiN2E3OTFkMjE1MzFhMzc3OWExZGM3ZGUxMDk1MGFmYmIifQ.zbaNkH09nY2KLMAx550arg';

      		var map = L.mapbox.map('map', 'mapbox.streets').setView([37.7388, -122.4674], 9);
          var myLayer = L.mapbox.featureLayer().addTo(map);
          
          var geoJson = [{
              type: 'Feature',
              "geometry": { "type": "Point", "coordinates": [-122.4674, 37.7388]},
              "properties": {
                  "image": "http://www.carolhighsmithamerica.com/data/photos/86_1coit_tower_in_san_francisco.jpg",
                  "url": "https://en.wikipedia.org/wiki/Washington,_D.C.",
                  "marker-symbol": "star",
                  "marker-color": "#ff8888",
                  "marker-size": "small",
                  "city": "Washington, D.C."
              } 
          }];

      // Add custom popups to each using our custom feature properties
      myLayer.on('layeradd', function(e) {
          var marker = e.layer,
              feature = marker.feature;

          // Create custom popup content
          var popupContent =  '<a target="_blank" class="popup" href="' + feature.properties.url + '">' +
                                  '<img src="' + feature.properties.image + '" />' +
                                  feature.properties.city +
                              '</a>';

          // http://leafletjs.com/reference.html#popup
          marker.bindPopup(popupContent,{
              closeButton: false,
              minWidth: 320
          });
      });

      // Add features to the map
      myLayer.setGeoJSON(geoJson);
	    </script>
    </body>
</html>
