<!DOCTYPE html>
<html>
<head>
  <title>Profile Page</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <!-- Underscore -->
  <script src="/vendor/underscore/underscore-min.js"></script>
  <!-- Bootstrap JS -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <!-- ToEat.ly -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/app.js"></script>
</head>
<body>
	<h1>Profile Page</h1>
  <div class="profile" id="img-box">
    <img src="https://upload.wikimedia.org/wikipedia/en/7/74/Elmo_from_Sesame_Street.gif">
  </div>
  <div id="profile-info" class="profile">
  </div>
  <div>
    <form method="post" action="/logout?_method=DELETE">
      <button type="submit">Logout</button>
    </form>
  </div>
</body>
</html>














