<!DOCTYPE html>
<html>
<head>
  <title>Profile Page</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <!-- Underscore -->
  <script src="/vendor/underscore/underscore-min.js"></script>
  <!-- Bootstrap JS -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <!-- ToEat.ly -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/app.js"></script>
</head>
<body>
	<h1>Profile Page</h1>
	Hello <%= user.email %>!

<!-- have the server treat this as a delete request using query params & method-override (html forms can only technically submit get & post requests, so we have to simulate a delete) -->
<form method="post" action="/logout?_method=DELETE">
	<button type="submit">Logout</button>
</form>
</body>
</html>














