.top-tabs {
  color: yellow;
  font-size: 20px;
  font-family: optima;
}

#sign-up {
    background: none;
    padding: 12px 22px;
}

#sign-up {
    border: 2px solid yellow;
    color: yellow;
}

#shadow {
  z-index: 2;
}

#title {
   z-index: 1; 
   font-stretch: ultra-condensed;
   height: 400px;
	 font-weight: 1000;
   font-size: 300px;
   font-family: arial black;
   letter-spacing: -25px;
   /*arial black, impact, rockwell extra bold*/
   color: white;  /* Fallback: assume this color ON TOP of image */
   background: url(http://highincomerealestate.com/wp-content/uploads/2014/09/SanFrancisco2.jpg) no-repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-position: center bottom -10px;
   /*background-size: 30% 20%*/ 
}

.index {
	/*background-color: cadetblue;*/
  background-image:
    linear-gradient(
      to left, 
      cadetblue, #004C4C
    );
}

.profile {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}

#map {
  width: 300px;
  height: 300px;
}
.profile-bar {
  display: inline-block;
}
